@model IEnumerable<BikeSalesApp.Models.Customer>

<h1>Customers</h1>
<hr />
@if (User.IsInRole("BillingAgent"))
{
    <p>
        @Html.ActionLink("New Customer", "Create", null, new { @class = "btn btn-success" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @if (User.IsInRole("BillingAgent") || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-edit btn btn-info btn-xs" })
                    @Html.Label(" | ")
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-th-list btn btn-success btn-xs" })
                    @Html.Label(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-th-list btn btn-success btn-xs" })
                }


            </td>
        </tr>
    }

</table>

