@model BikeSalesApp.Models.Product

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Brands.BrandName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brands.BrandName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Categories.CategoryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Categories.CategoryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModelYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModelYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ListPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ListPrice)
            </dd>
    
        </dl>
    </div>
    <p>
        @if (User.IsInRole("BillingAgent"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-info" })
            @Html.Label(" | ")
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })
        }
        else
        {
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })
        }
    </p>
