@model IEnumerable<BikeSalesApp.Models.Product>

<h1>Products</h1>
<hr />
@if (User.IsInRole("BillingAgent"))
{
    <p>
        @Html.ActionLink("New Product", "Create", null, new { @class = "btn btn-success" })
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brands.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brands.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice)
            </td>
            <td>

                @if (User.IsInRole("BillingAgent") || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "glyphicon glyphicon-edit btn btn-info btn-xs" })
                    @Html.Label(" | ")
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "glyphicon glyphicon-th-list btn btn-success btn-xs" })
                    @Html.Label(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })

                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "glyphicon glyphicon-th-list btn btn-success btn-xs" })
                }


            </td>
        </tr>
    }

</table>